/*站内广播 messageO.html*/
#messageO{margin:0;padding:0.5em 0;min-height: 600px;}
/*#messageO .mainC {min-height: 680px;}*/
#messageO .mainC .mainB {width: 98%;height:100%;margin-top:1%;padding:0.5em;margin-left:1%;background:rgb(230,232,234)}
#messageO .mainC .sendMF {background: #fff;padding:0.5em 0.5em 0.5em 1em;border-radius:3px;}
#messageO .mainC .sendMF .sendMT h4{margin-bottom: 0; margin-top: 0; padding: 10px; border-bottom: 2px solid red;
    display: inline-block; color: #666; font-size: 16px;}
.sendMF table {margin-bottom:0;margin-top:0.5em;}
.sendMF table input[type=text]{width: 60%;height: 32px; font-size: 16px; padding-left: 3px;outline: none;}

.sendMF table tr td:first-child {text-align: center}
.sendMF table tr td textarea {width: 60%; height: 180px; padding: 0.5em; outline: none; border: 1px solid rgb(221, 221, 221); resize: vertical; margin-top: 0px; margin-bottom: 0px; overflow-y: hidden;  }

.mainC .mainB .messageList {background: #fff;padding:0.5em 0.5em 0.5em 1em;border-radius:3px;}
.mainC .mainB .messageList .messageLT h4{margin-bottom: 0; margin-top: 0; padding: 10px; border-bottom: 2px solid red;
    display: inline-block; color: #666; font-size: 16px;}

/*最近活动 messageA.html*/
#messageA{margin:0;padding:0.5em 0;min-height: 600px;}
#messageA .mainC .mainB {width: 98%;height:100%;margin-top:1%;padding:0.5em;margin-left:1%;background:rgb(230,232,234)}
#messageA .messageList table tr td button {padding:2px 10px;}
.opSelected { margin-top: 20px; height: 34px; line-height: 34px; margin-right: 1em; }
.opSelected span:first-child{padding-right: 0.5em;}




