<div id="manager-main">
    <div class="row tusi">
        <span>
            <span><i class="fa fa-home"></i><span style="padding-left:5px;color:#E54D42;">首页</span></span>
            <span  class="selectedSpan"><i class="fa fa-desktop"><span style="padding-left: 5px;color:#E54D42;">看板</span></i></span>
        </span>
    </div>

    <!-- count info -->
    <div style="padding:1%;background: #FFF;width: 98%;margin-left: 1%;margin-top:0.5em;">
        <div class="row count-info" style="padding:0;">
            <div class="mr-col-3">
                <div class="info-box red-bg">
                    <i class="fa fa-male"></i>
                    <div class="count">34K</div>
                    <div class="name">用户访问量</div>
                </div>
            </div>
            <div class="mr-col-3">
                <div class="info-box green-bg">
                    <i class="fa fa-pencil-square-o"></i>
                    <div class="count">34</div>
                    <div class="name">站内发帖量</div>
                </div>
            </div>
            <div class="mr-col-3">
                <div class="info-box blue-bg">
                    <i class="fa fa-comments-o"></i>
                    <div class="count">934</div>
                    <div class="name">评论量</div>
                </div>
            </div>
            <div class="mr-col-3">
                <div class="info-box ping-bg">
                    <i class="fa fa-user"></i>
                    <div class="count">534</div>
                    <div class="name">用户总量</div>
                </div>
            </div>
        </div>
    </div>
    <!-- count info END -->
    <!-- user-pageVisited && user-room-pageVisited -->
    <div class="row" style="padding-top: 0.5em;">
        <div class="user-pv">
            <h5><i class="glyphicon glyphicon-user"></i><span>用户日访问量</span></h5>
            <div class="content">
                <!-- TODO 这里利用图形插件嵌入 -->
                <img src="../img/test01.png" width="100%" height="100%">
            </div>
        </div>
        <div class="user-sort">
            <h5 class="manager-main-title"><i class="fa fa-group"></i><span>活跃用户</span></h5>
            <div class="manager-main-content"  style="overflow-y: auto">
                <div>
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>姓名</th>
                                <th>部门</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="badge red-bg">1</span></td>
                                <td><img  src="../img/user/userHeader_3.jpg" width="32" height="32" class="img-circle"/><span>陈信宏</span></td>
                                <td>一线团队</td>
                            </tr>
                            <tr>
                                <td><span class="badge red-bg">2</span></td>
                                <td><img  src="../img/user/userHeader_4.jpg" width="32" height="32" class="img-circle"/><span>刘管佑</span></td>
                                <td>上海数据中心</td>
                            </tr>
                            <tr>
                                <td><span class="badge red-bg">3</span></td>
                                <td><img  src="../img/user/userHeader_6.jpg" width="32" height="32" class="img-circle"/><span>张学友</span></td>
                                <td>系统运行事</td>
                            </tr>
                            <tr>
                                <td><span class="badge">3</span></td>
                                <td><img  src="../img/user/userHeader_7.jpg" width="32" height="32" class="img-circle"/><span>彭于晏</span></td>
                                <td>数据库运维</td>
                            </tr>
                            <tr>
                                <td><span class="badge">3</span></td>
                                <td><img  src="../img/user/userHeader_8.jpg" width="32" height="32" class="img-circle"/><span>范冰冰</span></td>
                                <td>系统运行事</td>
                            </tr>
                            <tr>
                                <td><span class="badge">3</span></td>
                                <td><img  src="../img/user/userHeader_9.jpg" width="32" height="32" class="img-circle"/><span>文善于</span></td>
                                <td>系统运行事</td>
                            </tr>
                            <tr>
                                <td><span class="badge">3</span></td>
                                <td><img  src="../img/user/userHeader_9.jpg" width="32" height="32" class="img-circle"/><span>玛莎</span></td>
                                <td>系统运行事</td>
                            </tr>
                            <tr>
                                <td><span class="badge">3</span></td>
                                <td><img  src="../img/user/userHeader_9.jpg" width="32" height="32" class="img-circle"/><span>邱惠东</span></td>
                                <td>系统运行事</td>
                            </tr>
                            <tr>
                                <td><span class="badge">3</span></td>
                                <td><img  src="../img/user/userHeader_9.jpg" width="32" height="32" class="img-circle"/><span>邱惠东</span></td>
                                <td>系统运行事</td>
                            </tr>
                            <tr>
                                <td><span class="badge">3</span></td>
                                <td><img  src="../img/user/userHeader_9.jpg" width="32" height="32" class="img-circle"/><span>邱惠东</span></td>
                                <td>系统运行事</td>
                            </tr>
                            <tr>
                                <td><span class="badge">3</span></td>
                                <td><img  src="../img/user/userHeader_9.jpg" width="32" height="32" class="img-circle"/><span>邱惠东</span></td>
                                <td>系统运行事</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- user-pageVisited && user-room-pageVisited END -->
    <!--  -->
    <div class="row">
        <div class="room-pv">
            <h5 class="manager-main-title"><i class="fa fa-group"></i><span>室组访问量</span></h5>
            <div class="manager-main-content">
                <img src="../img/test2.png" width="100%" height="100%">
            </div>
        </div>
        <!--<div class="room-sort">-->
            <!--<h5 class="manager-main-title"><i class="fa fa-group"></i><span>室组活跃度</span></h5>-->
            <!--<div class="manager-main-content">-->

            <!--</div>-->
        <!--</div>-->
    </div>
    <!-- topic-op && room-sort -->
    <div class="row" style="padding-top:0.5em;">
        <div class="topic-op">
            <h5 class="manager-main-title">帖子模块详情</h5>
            <div class="manager-main-content">
                <!-- 饼状图显示 -->
                <div class="module-circle-show">
                    <img src="../img/test03.png" width="200" height="200" class="img img-circle">
                </div>
                <!-- 饼状图显示 END -->
                <div style="padding:10px;background-color:rgb(230,232,234);height: 100%;">
                    <div class="row" style="height: 50%;position: relative">
                        <div class="topic-module ac-module">
                            <div class="ac-title">活动模块</div>
                            <div style="padding-top:1em;padding-bottom:1em;background: #FFF;">
                                <div style="float: left;width: 50%;border-right:2px solid #666;">234</div><div>54</div>
                            </div>
                        </div>
                        <div class="topic-module in-module">
                            <div class="in-title">兴趣模块</div>
                            <div style="padding-top:1em;padding-bottom:1em;background: #FFF;">
                                <div style="float: left;width: 50%;border-right:2px solid #666;">234</div><div>54</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: 50%;position: relative">
                        <div class="topic-module he-module">
                            <div class="he-title">求助模块</div>
                            <div style="padding-top:1em;padding-bottom:1em;background: #FFF;">
                                <div style="float: left;width: 50%;border-right:2px solid #666;">234</div><div>54</div>
                            </div>
                        </div>
                        <div class="topic-module tu-module">
                            <div class="tu-title">吐槽模块</div>
                            <div style="padding-top:1em;padding-bottom:1em;background: #FFF;">
                                <div style="float: left;width: 50%;border-right:2px solid #666;">234</div><div>54</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-sort">
            <h5 class="manager-main-title">热门帖子排名</h5>
            <div class="manager-main-content">
                <ul>
                    <li><span class="mr-badge red-bg">1</span><a><span>一个3.5公顷的花园你能想象嘛？</span></a></li>
                    <li><span class="mr-badge red-bg">2</span><a><span>一个3.5公顷的花园你能想象嘛？</span></a></li>
                    <li><span class="mr-badge red-bg">3</span><a><span>一个3.5公顷的花园你能想象嘛？</span></a></li>
                    <li><span class="mr-badge">4</span><a><span>一个3.5公顷的花园你能想象嘛？</span></a></li>
                    <li><span class="mr-badge">5</span><a><span>一个3.5公顷的花园你能想象嘛？</span></a></li>
                    <li><span class="mr-badge">5</span><a><span>一个3.5公顷的花园你能想象嘛？</span></a></li>
                    <li><span class="mr-badge">5</span><a><span>一个3.5公顷的花园你能想象嘛？</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- topic-top && room-sort END -->

</div>

