<div id="examineO">
    <div class="row tusi">
        <span>
            <span><i class="fa fa-home"></i><span style="padding-left:5px;color:#E54D42;">首页</span></span>
            <span  class="selectedSpan"><i class="fa fa-desktop"><span style="padding-left: 5px;color:#E54D42;">帖子管理</span></i></span>
            <span  class="selectedSpan"><i class="fa fa-desktop"><span style="padding-left: 5px;color:#E54D42;">帖子积分审核</span></i></span>
        </span>
    </div>
    <div class="row mainC">
        <!-- 普通帖子审核 -->
        <div class="tableF">
            <table class="table  table-condensed table-hover">
                <thead>
                <tr>
                    <th class="col-md-1">编号</th>
                    <th class="col-md-8">标题</th>
                    <th class="col-md-1" style="text-align: center">申请人</th>
                    <th class="col-md-2" style="text-align: center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-md-1"><span class="mr-badge red-bg">0</span></td>
                    <td class="col-md-8">今天去厦门游玩了一天啦</td>
                    <td class="col-md-1">张翼德</td>
                    <td class="col-md-2"><button class="btn btn-warn">删除</button> | <button class="btn btn-sucess">恢复</button></td>
                </tr>
                <tr>
                    <td class="col-md-1"><span class="mr-badge red-bg">1</span></td>
                    <td class="col-md-8">今天去厦门游玩了一天啦</td>
                    <td class="col-md-1">张翼德</td>
                    <td class="col-md-2"><button class="btn btn-warn">删除</button> | <button class="btn btn-sucess">恢复</button></td>
                </tr>
                <tr>
                    <td class="col-md-1"><span class="mr-badge red-bg">2</span></td>
                    <td class="col-md-8">今天去厦门游玩了一天啦</td>
                    <td class="col-md-1">张翼德</td>
                    <td class="col-md-2"><button class="btn btn-warn">删除</button> | <button class="btn btn-sucess">恢复</button></td>
                </tr>
                <tr>
                    <td class="col-md-1"><span class="mr-badge red-bg">3</span></td>
                    <td class="col-md-8">今天去厦门游玩了一天啦</td>
                    <td class="col-md-1">张翼德</td>
                    <td class="col-md-2"><button class="btn btn-warn">删除</button> | <button class="btn btn-sucess">恢复</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>