<div id="activeModule">
    <div class="row tusi">
        <span>
            <span><i class="fa fa-home"></i><span style="padding-left:5px;color:#E54D42;">首页</span></span>
            <span  class="selectedSpan"><i class="fa fa-desktop"><span style="padding-left: 5px;color:#E54D42;">内容管理</span></i></span>
            <span  class="selectedSpan"><i class="fa fa-desktop"><span style="padding-left: 5px;color:#E54D42;">图片模块</span></i></span>
        </span>
    </div>
    <!-- 轮播器图片的选择 -->
    <div class="mainC row">
        <div class="mainB">
            <!-- 选择轮播器 -->
            <div class="level_one">
                <div class="level_one_header">
                    <div class="level_one_header_title">
                        <h2>图片选择</h2>
                    </div>
                </div>
                <div class="level_one-content">
                    <div class="mw-Grid">
                        <div class="Grid-Cell" id="level_one_lunbo">
                            <div class="u-size3of4" >
                                <h3 class="level_one_title">请选择的对象</h3>
                                <div class="level_one-objs" style="position: absolute">
                                    <div class="level_one_obj" style="left: 0">
                                        <div>
                                            <div class="level_one_topic_title"><input type="checkbox" style="margin-right: 0.5em;">这是标题</div>
                                            <div class="level_one-topic_summary">这是内容概要信息</div>
                                            <div class="level_one_topic_imgs">
                                                <img src="../img/user/userHeader_2.jpg">
                                                <img src="../img/user/userHeader_3.jpg">
                                                <img src="../img/user/userHeader_4.jpg">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="level_one_topic_title"><input type="checkbox" style="margin-right: 0.5em;">这是标题</div>
                                            <div class="level_one-topic_summary">这是内容概要信息</div>
                                            <div class="level_one_topic_imgs">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="level_one_obj" style="left:658px;">
                                        <div>
                                            <div class="level_one_topic_title"><input type="checkbox" style="margin-right: 0.5em;">这是标题</div>
                                            <div class="level_one-topic_summary">这是内容概要信息</div>
                                            <div class="level_one_topic_imgs">
                                                <img src="../img/user/userHeader_2.jpg">
                                                <img src="../img/user/userHeader_3.jpg">
                                                <img src="../img/user/userHeader_4.jpg">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="level_one_topic_title"><input type="checkbox" style="margin-right: 0.5em;">这是标题</div>
                                            <div class="level_one-topic_summary">这是内容概要信息</div>
                                            <div class="level_one_topic_imgs">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="level_one_opertor" style="float: left">
                                    <button class="btn btn-success level_one_last_btn">上一级</button>
                                    <button class="btn btn-success level_one_next_btn">下一级</button>
                                </div>
                                <button class="btn btn-success level_two_add_btn" style="position: absolute;right:0.5em;bottom:0em;">添加</button>
                            </div>
                            <div class="u-size1of4">
                                <h3 class="level_one_title">已选择的对象</h3>
                                <table>
                                    <tr><td><img src="../img/user/userHeader_39.jpg"></td><td><button class="btn btn-warning">移除</button></td></tr>
                                    <tr><td><img src="../img/user/userHeader_39.jpg"></td><td><button class="btn btn-warning">移除</button></td></tr>
                                    <tr><td><img src="../img/user/userHeader_39.jpg"></td><td><button class="btn btn-warning">移除</button></td></tr>
                                    <tr><td><img src="../img/user/userHeader_39.jpg"></td><td><button class="btn btn-warning">移除</button></td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/ecpManager_module.js"></script>