<div id="messageO">
    <div class="row tusi">
        <span>
            <span><i class="fa fa-home"></i><span style="padding-left:5px;color:#E54D42;">首页</span></span>
            <span  class="selectedSpan"><i class="fa fa-desktop"><span style="padding-left: 5px;color:#E54D42;">站内信息</span></i></span>
            <span  class="selectedSpan"><i class="fa fa-desktop"><span style="padding-left: 5px;color:#E54D42;">站内广播</span></i></span>
        </span>
    </div>
    <div class="row mainC">
        <div class="mainB">
            <div class="sendMF">
                <div class="sendMT">
                    <h4>发送站内信</h4>
                </div>
                <div class="sendMC">
                    <!--<table class="table" border rules=cols cellspacing=0 style="border:1px solid rgb(221,221,221)">-->
                    <table class="table">
                        <tr>
                            <td>收信人</td>
                            <td><input type="text"/></td>
                        </tr>
                        <tr>
                            <td>标题</td>
                            <td><input type="text"/></td>
                        </tr>
                        <tr>
                            <td>内容</td>
                            <td><textarea></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-success pull-right" style="margin-top:20px;">发布</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mainC">
        <div class="mainB">
            <div class="messageList">
                <div class="messageLT">
                    <h4>站内信息列表</h4>
                </div>
                <div class="messageLC">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td class="col-md-1">编号</td>
                                <td class="col-md-3">标题</td>
                                <td class="col-md-6">内容</td>
                                <td class="col-md-2">发布时间</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-1"><span class="mr-badge red-bg">1</span></td>
                                <td class="col-md-3">这是标题,标题我最大</td>
                                <td class="col-md-6">这是内容,标题你最小</td>
                                <td class="col-md-2">2009-12-09</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>