<div class="row" id="addUser">
    <div class="row tusi">
        <span>
            <span><i class="fa fa-home"></i><span style="padding-left:5px;color:#E54D42;">首页</span></span>
            <span  class="selectedSpan"><i class="fa fa-desktop"><span style="padding-left: 5px;color:#E54D42;">用户管理</span></i></span>
            <span  class="selectedSpan"><i class="fa fa-desktop"><span style="padding-left: 5px;color:#E54D42;">添加用户</span></i></span>
        </span>
    </div>
    <div class="row mainC">
        <div class="mainB">
            <div class="addUser-header">
                <div class="addUser-header-title">
                    <h2 id="addUser-title"><span class="glyphicon glyphicon-plus" style="margin-right: 0.5em"></span>添加新用户的个人信息</h2>
                </div>
            </div>
            <div class="addUser-mainBody">
                <div class="ecp-Grid ecp-Grid-withGutter">
                    <div id="profile-info" class="ecp-Grid-cell ecp-size3of5">
                        <div class="profile-info-f" style="">
                            <h4 class="profile-info-title"><span class="glyphicon glyphicon-user" style="margin-right: 0.5em"></span>基本信息</h4>
                            <div class="profile-info-items" style="display: table">
                                <div class="profile-info-item"><span>编号</span><input type="text" class="text-input"/></div>
                                <div class="profile-info-item"><span>账号</span><input type="text" class="text-input"/></div>
                                <div class="profile-info-item"><span>真实姓名</span><input type="text" class="text-input"/></div>
                                <div class="profile-info-item"><span>昵称</span><input type="text" class="text-input"/></div>
                                <div class="profile-info-item"><span>密码</span><input type="password" class="text-input"/></div>
                            </div>
                        </div>
                    </div>
                    <div id="contact-info" class="ecp-Grid-cell ecp-size2of5">
                        <div class="profile-info-f">
                            <h4 class="profile-info-title"><span class="glyphicon glyphicon-envelope" style="margin-right: 0.5em"></span>联系信息</h4>
                            <div class="profile-info-item" style="display: table">
                                <div class="profile-info-item"><span>所属部门</span><input type="text" class="text-input"/></div>
                                <div class="profile-info-item"><span>手机号码</span><input type="text" class="text-input"/></div>
                                <div class="profile-info-item"><span>电子邮件</span><input type="text" class="text-input"/></div>
                                <div class="profile-info-item"><span>座机电话</span><input type="text" class="text-input"/></div>
                                <div class="profile-info-item"><span>角色分配</span><input type="text" class="text-input"/></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="padding-right: 0.5em;padding-top: 0.5em;">
                    <button class="btn btn-success pull-right">保存</button>
                    <div style="clear:right"></div>
                </div>
            </div>

        </div>

    </div>
</div>